{% extends "app_store/base.html" %}
{% load static %}



{% block MainContent %}
    <!-- Start main-content -->
    <main class="main-content dt-sl mb-3">
        <div class="container main-container">
            <div class="row">
                <div class="col-12">
                    <div class="page dt-sl dt-sn pt-3 pb-5">
                        <div class="section-title title-wide mb-1 no-after-title-wide">
                            <h2 class="font-weight-bold">حریم خصوصی</h2>
                        </div>
                        <p>
                            دیجی‌کالا با تاکید بر احترامی که برای حریم شخصی کاربران قائل است، برای خرید، ثبت نظر یا
                            استفاده از
                            برخی امکانات وب‌سایت اطلاعاتی را از کاربران درخواست می‌کند تا بتواند خدماتی امن و مطمئن
                            را
                            به
                            کاربران ارائه دهد. برای پردازش و ارسال سفارش، اطلاعاتی مانند آدرس، شماره تلفن و ایمیل
                            مورد
                            نیاز است
                            و از آنجا که کلیه فعالیت‌های دیجی‌کالا قانونی و مبتنی بر قوانین تجارت الکترونیک صورت
                            می‌گیرد
                            و طی
                            فرایند خرید، فاکتور رسمی و بنا به درخواست مشتریان حقوقی گواهی ارزش افزوده صادر می‌شود،
                            از
                            این رو
                            وارد کردن اطلاعاتی مانند نام و کد ملی برای اشخاص حقیقی یا کد اقتصادی و شناسه ملی برای
                            خریدهای
                            سازمانی لازم است. یادآوری می‌شود آدرس ایمیل و تلفن‌هایی که مشتری در پروفایل خود ثبت
                            می‌کند،
                            تنها آدرس
                            ایمیل و تلفن‌های رسمی و مورد تایید مشتری است و تمام مکاتبات و پاسخ‌های شرکت از طریق آنها
                            صورت
                            می‌گیرد.<br>
                            بنابراین درج آدرس، ایمیل و شماره تماس‌های همراه و ثابت توسط مشتری، به منزله مورد تایید
                            بودن
                            صحت آنها
                            است و در صورتی که موارد فوق به صورت صحیح یا کامل درج نشده باشد، دیجی‌کالا جهت اطمینان از
                            صحت
                            و قطعیت
                            ثبت سفارش می‌تواند از مشتری، اطلاعات تکمیلی و بیشتری درخواست کند.<br>
                            مشتریان می‌توانند نام، آدرس و تلفن شخص دیگری را برای تحویل گرفتن سفارش وارد کنند و
                            دیجی‌کالا
                            تنها
                            برای ارسال همان سفارش، از این اطلاعات استفاده خواهد کرد.<br>
                            همچنین دیجی‌کالا ممکن است برای ارتباط با مشتریان، بهینه‌سازی محتوای وب‌سایت و تحقیقات
                            بازاریابی از
                            برخی اطلاعات استفاده کند و برای اطلاع‌رسانی رویدادها و اخبار، خدمات و سرویس‌های ویژه یا
                            پروموشن‌ها،
                            برای اعضای وب‌سایت ایمیل یا پیامک ارسال نماید. در صورتی که کاربران تمایل به دریافت
                            اینگونه
                            ایمیل‌ها
                            و پیامک‌ها نداشته باشند، می‌توانند عضویت دریافت خبرنامه دیجی‌کالا را در پروفایل خود لغو
                            کنند. عدم
                            اقدام جهت لغو، به منزله ی موافقت ضمنی با دریافت ایمیل‌ها و پیام‌ها و سلب حق اعتراض
                            می‌باشد.<br></p>
                        <div class="message-light mx-0">
                            توجه داشته باشید که 300061930000 و 100061930000 شماره‌هایی است که دیجی‌کالا از طریق آن
                            برای
                            کاربران
                            و مشتریان خود پیامک (اس‌ام‌اس) ارسال می‌کند. همچنین این شماره‌‌ها، سامانه ارسال پیامک
                            است که
                            وضعیت
                            پردازش سفارش یا رویدادها، خدمات و سرویس‌های ویژه دیجی‌کالا را به اطلاع کاربران می‌رساند
                            و
                            روشن است
                            که امکان دریافت پیام‌های شما از طریق آن وجود ندارد.<br>
                            همچنین ممکن است دیجی‌کالا از طریق شماره 300061930002 برای برخی کاربران یا مشتریان خود،
                            سوال
                            نظرسنجی
                            ارسال کند.<br>
                            بنابراین ارسال هرگونه پیامک تحت عنوان دیجی‌کالا، با هر شماره دیگری تخلف و سوء استفاده از
                            نام
                            دیجی‌کالا است و در صورت دریافت چنین پیامکی، لطفاً جهت پیگیری قانونی آن را به <a
                                href="mailto:info@digikala.com">Info@digikala.com</a> اطلاع
                            دهید.
                        </div>
                        <p>
                            دیجی‌کالا ممکن است نقد و نظرهای ارسالی کاربران را در راستای رعایت قوانین وب سایت ویرایش
                            کند.
                            همچنین
                            اگر نظر یا پیام ارسال شده توسط کاربر، مشمول مصادیق محتوای مجرمانه باشد، دیجی‌کالا
                            می‌تواند
                            از
                            اطلاعات ثبت‌شده برای پیگیری قانونی استفاده کند. کاربران ضمن استفاده از خدمات وب‌سایت
                            دیجی‌کالا، حق
                            ویرایش اطلاعات و استفاده از آنها را در چارچوب فوق‌الذکر به دیجی‌کالا اعطا نموده و حق
                            اعتراض
                            را از
                            خود سلب می‌نمایند.<br>
                            باید تاکید شود که حفظ و نگهداری رمز عبور و نام کاربری بر عهده کاربران است و لذا برای
                            جلوگیری
                            از
                            هرگونه سواستفاده احتمالی، کاربران نباید آن اطلاعات را برای شخص دیگری فاش کنند. در صورتی
                            که
                            کاربر
                            شماره همراه خود را به فردی دیگر واگذار کرد، جهت جلوگیری از سواستفاده یا مشکلات احتمالی
                            کاربران باید
                            شماره موبایل خود را در پروفایل تغییر داده و شماره جدیدی ثبت نمایند.<br>
                            مسئولیت هرگونه خسارت احتمالی که ناشی از عدم رعایت موارد فوق‌الذکر توسط کاربر باشد، با
                            خود
                            کاربر
                            بوده وکاربر حق هر گونه ادعا علیه دیجی‌کالا را از خود سلب می‌کند. دیجی‌کالا هویت شخصی
                            کاربران
                            را
                            محرمانه می‌داند و اطلاعات شخصی آنان را به هیچ شخص یا سازمان دیگری منتقل نمی‌کند، مگر
                            اینکه
                            با حکم
                            مقام قضایی یا اداری صالحه یا طبق قوانین و مقررات رایج کشور موظف باشد در اختیار مراجع
                            ذی‌صلاح
                            قرار
                            دهد.در این موارد هیچ گونه مسئولیت قانونی مبنی بر جبران خسارت برای دیجی‌کالا وجود ندارد و
                            کاربران با
                            اعلام رضایت خود در استفاده از خدمات وب سایت ضمنا حق هرگونه اعتراض را از خود سلب نموده
                            اند.<br>
                            همچنین بدین وسیله به اطلاع کاربران رسانده می‌شود که دیجی‌کالا همانند سایر وب‌سایت‌ها از
                            جمع‌آوری IP و
                            کوکی‌ها استفاده می‌کند، اما پروتکل، سرور و لایه‌های امنیتی دیجی‌کالا و روش‌های مناسب
                            مدیریت
                            داده‌ها
                            حداکثر تلاش را به عمل می‌آورد که اطلاعات کاربران را محافظت و از دسترسی‌های غیرقانونی
                            جلوگیری
                            کند.
                            طبیعتا مسئولیت هرگونه سواستفاده به شخص یا اشخاص متخلف مربوط بوده و دیجی‌کالا حق اعتراض و
                            پیگیری را
                            از طریق قانونی بنابر صلاحدید خود محفوظ می‌دارد.<br>
                            در صورتی که تمایلی به دریافت ایمیل‌ها و خبرنامه‌های دیجی‌کالا ندارید، می‌توانید بر روی
                            کلمه
                            لغو
                            عضویت در انتهای صفحه ایمیل کلیک کنید.<br>
                            دیجی‌کالا برای حفاظت و نگهداری اطلاعات و حریم شخصی کاربران همه توان خود را به کار
                            می‌گیرد و
                            امیدوار
                            است که تجربه خریدی امن، راحت و خوشایند را برای همه کاربران فراهم آورد.<br>
                            در صورت وجود هرگونه سوال، لطفا با اطلاعات تماس زیر ارتباط برقرار کنید.
                            &nbsp;<br>
                            تلفن تماس و فکس:<br><a href="tel:+982161930000">
                                ۶۱۹۳۰۰۰۰ – ۰۲۱
                            </a>
                            (پاسخگویی ۲۴ ساعته، ٧ روز هفته)<br>
                            دفتر مرکزی:<br>
                            استان تهران - شهر تهران - خیابان گاندی جنوبی - نبش خیابان ۲۱ - پلاک ۲۸<br></p>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- End main-content -->
{% endblock MainContent %}