{% extends "app_account/base.html" %}
{% load static %}


{% block pageTitle %}
    Change Password | {{ user.username }}
{% endblock pageTitle %}


{% block MainContent %}

    <div class="auth-wrapper form-ui border pt-4">
        <div class="section-title title-wide mb-1 no-after-title-wide">
            <h2 class="font-weight-bold">تغییر رمز عبور</h2>
        </div>
        <form action="#" method='POST'>
            
            {% if massage %}
                <small style='color:red;'>{{ massage }}</small>                
            {% endif %}
                
            {% csrf_token %}
            <div class="form-row-title">
                <h3>رمز عبور قبلی</h3>
            </div>
            <div class="form-row with-icon">
                <input type="password" class="input-ui pr-2" name='old_password' placeholder="رمز عبور خود را وارد نمایید">
                <i class="mdi mdi-lock-open-variant-outline"></i>
            </div>
            <div class="form-row-title">
                <h3>رمز عبور جدید</h3>
            </div>
            <div class="form-row with-icon">
                <input type="password" class="input-ui pr-2" name='new_password1' placeholder="رمز عبور خود را وارد نمایید">
                <i class="mdi mdi-lock-reset"></i>
            </div>
            <div class="form-row-title">
                <h3>تکرار رمز عبور جدید</h3>
            </div>
            <div class="form-row with-icon">
                <input type="password" class="input-ui pr-2" name='new_password2' placeholder="رمز عبور خود را وارد نمایید">
                <i class="mdi mdi-lock-reset"></i>
            </div>
            <div class="form-row mt-2">
                <div class="custom-control custom-checkbox float-right mt-2">
                    <input type="checkbox" class="custom-control-input" id="customCheck3">
                    <label class="custom-control-label" for="customCheck3">
                        مرا به خاطر بسپار
                    </label>
                </div>
            </div>
            <div class="form-row mt-3">
                <button type='submit' class="btn-primary-cm btn-with-icon mx-auto w-100">
                    <i class="mdi mdi-lock-reset"></i>
                    تغییر رمز عبور
                </button>
            </div>
        </form>
        <div class="form-footer mt-3">
            <div>
                <span class="font-weight-bold">کاربر جدید هستید؟</span>
                <a href="{% url 'signup' %}" class="mr-3 mt-2">ثبت نام در دیدیکالا</a>
            </div>
        </div>
    </div>
{% endblock MainContent %}