{% extends "app_blog/base.html" %}
{% load static %}



{% block PageTitle %}


{% endblock PageTitle %}





{% block BlogContent %}
    <!-- Start main-content -->
    <main class="main-content dt-sl mb-3">
        <div class="container main-container">
            <!-- Start title - breadcrumb -->
            <div class="title-breadcrumb-special dt-sl">
                <div class="breadcrumb dt-sl">
                    <nav>
                        <a href="#">خانه</a>
                        <a href="#">وردپرس</a>
                        <a href="#">افزودن دکمه تماس در سایت وردپرسی</a>
                    </nav>
                </div>
                <div class="title-page dt-sl">
                    <h1>{{ single_blog.title }}</h1>
                </div>
                <div class="post-rating">
                    <div class="star-rate" data-toggle="tooltip" data-placement="top" data-html="true" title=""
                        data-original-title="<b>۴</b> از ۴ رای">
                        <span class="active"></span>
                        <span class="active"></span>
                        <span class="active"></span>
                        <span class="active"></span>
                        <span class="active"></span>
                    </div>
                </div>
            </div>
            <!-- End title - breadcrumb -->
            <div class="row">
                <div class="col-lg-9 col-md-8 col-sm-12 col-12 mb-3">
                    <div class="content-page">
                        <div class="content-desc dt-sn dt-sl">
                            <header class="entry-header dt-sl mb-3">
                                <div class="post-meta date">
                                    <i class="mdi mdi-calendar-month"></i>{{ single_blog.created_date }}
                                </div>
                                <div class="post-meta author">
                                    <i class="mdi mdi-account-circle-outline"></i>
                                    ارسال شده توسط<a href="#">  {{ single_blog.author }}</a>
                                </div>
                                {% comment %} <div class="post-meta category">
                                    <i class="mdi mdi-folder"></i>
                                    <a href="#">دسته‌بندی نشده</a> ، <a href="#">کسب و کار آنلاین</a> ، <a
                                        href="#">معرفی کتاب</a>
                                </div> {% endcomment %}
                                <div class="post-meta category">
                                    <i class="mdi mdi-eye"></i>
                                    {{ single_blog.visit_count }} بازدید
                                </div>
                            </header>
                            <div class="post-thumbnail dt-sl">
                                <img src="{{ single_blog.thumbnail.url }}" alt="">
                            </div>

                            {% for description in single_blog.blogcontents.all %}
                                <li style='margin-top:5%; margin-bottom:2%; font-size:13pt;'>
                                    <strong>{{ description.sub_title }}</strong>
                                </li>
                                <li style='list-style-type:none; line-height:2;'>
                                    {{ description.description|linebreaks }}
                                </li>
                                {% if description.image %}
                                    <div class="post-thumbnail dt-sl">
                                        <img src="{{ description.image.url }}" alt="">
                                    </div>
                                {% endif %}
                            {% endfor %}

                    </div>
                    <div class="comments-area dt-sl my-3">
                        <div class="dt-sn">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-ui blog-comment">
                                        <form onsubmit="return false">
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="form-row-title mb-2">عنوان نظر شما (اجباری)
                                                    </div>
                                                    <div class="form-row">
                                                        <input class="input-ui pr-2" type="text"
                                                            placeholder="عنوان نظر خود را بنویسید">
                                                    </div>
                                                </div>
                                                <div class="col-12 mt-3 mb-3">
                                                    <div class="form-row-title mb-2">متن نظر شما (اجباری)</div>
                                                    <div class="form-row">
                                                        <textarea class="input-ui pr-2 pt-2" rows="5"
                                                            placeholder="متن خود را بنویسید"></textarea>
                                                    </div>
                                                </div>
                                                <div class="col-12 px-3">
                                                    <p class="d-block">با “ثبت نظر” موافقت خود را با <a href="#"
                                                            class="border-bottom-dt" target="_blank">قوانین
                                                            انتشار محتوا</a> در دیجی‌کالا اعلام می‌کنم.</p>
                                                    <button class="btn btn btn-primary px-3">
                                                        ثبت نظر
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="section-title text-sm-title title-wide no-after-title-wide mb-0 mt-5 dt-sl">
                            <h2>نظرات کاربران</h2>
                            <p class="count-comment">123 نظر</p>
                        </div>
                        <ol class="comment-list">
                            <!-- #comment-## -->
                            <li>
                                <div class="comment-body mt-3">
                                    <div class="row">
                                        <div class="col-12 comment-content">
                                            <div class="comment-author">
                                                توسط مجید سجادی فرد در تاریخ ۵ مهر ۱۳۹۵
                                            </div>

                                            <p>لورم ایپسوم متن ساختگی</p>

                                            <div class="footer">
                                                <div class="comments-likes">
                                                    آیا این نظر برایتان مفید بود؟
                                                    <button class="btn-like" data-counter="۱۱">بله
                                                    </button>
                                                    <button class="btn-like" data-counter="۶">خیر
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <!-- #comment-## -->
                            <li>
                                <div class="comment-body">
                                    <div class="row">
                                        <div class="col-12 comment-content">
                                            <div class="comment-author">
                                                توسط مجید سجادی فرد در تاریخ ۵ مهر ۱۳۹۵
                                            </div>
                                            <p>
                                                بعد از چندین هفته بررسی تصمیم به خرید
                                                این مدل از ماشین لباسشویی گرفتم ولی
                                                متاسفانه نتونست انتظارات منو برآورده کنه
                                                .
                                                دو تا ایراد داره یکی اینکه حدودا تا 20
                                                دقیقه اول شستشو یه صدایی شبیه به صدای
                                                پمپ تخلیه همش به گوش میاد که رو مخه یکی
                                                هم با اینکه خشک کنش تا 1400 دور در دقیقه
                                                میچرخه، ولی اون طوری که دوستان تعریف
                                                میکردن لباسها رو خشک نمیکنه .ضمنا برای
                                                این صدایی که گفتم زنگ زدم نمایندگی اومدن
                                                دیدن، وتعمیرکار گفتش که این صدا طبیعیه و
                                                تا چند دقیقه اول شستشو عادیه.بدجوری خورد
                                                تو ذوقم. اگه بیشتر پول میذاشتم میتونستم
                                                یه مدل میان رده از مارکهای بوش یا آ ا گ
                                                میخریدم که خیلی بهتر از جنس مونتاژی کره
                                                ای هستش.
                                            </p>

                                            <div class="footer">
                                                <div class="comments-likes">
                                                    آیا این نظر برایتان مفید بود؟
                                                    <button class="btn-like" data-counter="۱۱">بله
                                                    </button>
                                                    <button class="btn-like" data-counter="۶">خیر
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <!-- #comment-## -->
                            <li>
                                <div class="comment-body">
                                    <div class="row">
                                        <div class="col-12 comment-content">
                                            <div class="comment-author">
                                                توسط مجید سجادی فرد در تاریخ ۵ مهر ۱۳۹۵
                                            </div>

                                            <p>لورم ایپسوم متن ساختگی</p>

                                            <div class="footer">
                                                <div class="comments-likes">
                                                    آیا این نظر برایتان مفید بود؟
                                                    <button class="btn-like" data-counter="۱۱">بله
                                                    </button>
                                                    <button class="btn-like" data-counter="۶">خیر
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <!-- #comment-## -->
                            <li>
                                <div class="comment-body">
                                    <div class="row">
                                        <div class="col-12 comment-content">
                                            <div class="comment-author">
                                                توسط مجید سجادی فرد در تاریخ ۵ مهر ۱۳۹۵
                                            </div>

                                            <p>لورم ایپسوم متن ساختگی</p>

                                            <div class="footer">
                                                <div class="comments-likes">
                                                    آیا این نظر برایتان مفید بود؟
                                                    <button class="btn-like" data-counter="۱۱">بله
                                                    </button>
                                                    <button class="btn-like" data-counter="۶">خیر
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <!-- #comment-## -->
                            <li>
                                <div class="comment-body">
                                    <div class="row">
                                        <div class="col-12 comment-content">
                                            <div class="comment-author">
                                                توسط مجید سجادی فرد در تاریخ ۵ مهر ۱۳۹۵
                                            </div>

                                            <p>لورم ایپسوم متن ساختگی</p>

                                            <div class="footer">
                                                <div class="comments-likes">
                                                    آیا این نظر برایتان مفید بود؟
                                                    <button class="btn-like" data-counter="۱۱">بله
                                                    </button>
                                                    <button class="btn-like" data-counter="۶">خیر
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ol>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-12 col-12 mb-3 sidebar sticky-sidebar">
                    <div class="widget-posts dt-sn dt-sl rounded-0 border-bottom mb-3">
                        <div class="title-sidebar dt-sl mb-3">
                            <h3>جدیدترین نوشته ها</h3>
                        </div>
                        <div class="content-sidebar dt-sl">
                            <div class="item">
                                <div class="item-inner">
                                    <div class="item-thumb">
                                        <a href="#" class="img-holder"
                                            style="background-image: url('{% static 'app_store/img/post-thumbnail/1.png' %}')"></a>
                                    </div>
                                    <p class="title">
                                        <a href="#">سایت و فروشگاهتو طراحی کن</a>
                                    </p>
                                    <div class="item-meta">
                                        <span class="time">۱۰ مرداد ۱۳۹۸</span>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="item-inner">
                                    <div class="item-thumb">
                                        <a href="#" class="img-holder"
                                            style="background-image: url('{% static 'app_store/img/post-thumbnail/2.png' %}')"></a>
                                    </div>
                                    <p class="title">
                                        <a href="#">امنیت سایتت رو تامین کن</a>
                                    </p>
                                    <div class="item-meta">
                                        <span class="time">۱۰ مرداد ۱۳۹۸</span>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="item-inner">
                                    <div class="item-thumb">
                                        <a href="#" class="img-holder"
                                            style="background-image: url('{% static 'app_store/img/post-thumbnail/3.png' %}')"></a>
                                    </div>
                                    <p class="title">
                                        <a href="#">اینستاگرام را پول ساز کن</a>
                                    </p>
                                    <div class="item-meta">
                                        <span class="time">۱۰ مرداد ۱۳۹۸</span>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="item-inner">
                                    <div class="item-thumb">
                                        <a href="#" class="img-holder"
                                            style="background-image: url('{% static 'app_store/img/post-thumbnail/4.png' %}')"></a>
                                    </div>
                                    <p class="title">
                                        <a href="#">سایت خودت رو چندزبانه کن</a>
                                    </p>
                                    <div class="item-meta">
                                        <span class="time">۱۰ مرداد ۱۳۹۸</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="dt-sn dt-sl rounded-0 border-bottom mb-3">
                        <div class="section-title text-sm-title title-wide no-after-title-wide mb-1">
                            <h2>دسته ها</h2>
                        </div>
                        <ul class="category-list">
                            <li><a href="#">بهینه سازی</a></li>
                            <li><a href="#">برنامه نویسی</a></li>
                            <li><a href="#">طراحی سایت</a>
                                <ul>
                                    <li><a href="#">وردپرس</a></li>
                                    <li><a href="#">پلاگین نویسی</a></li>
                                </ul>
                            </li>
                            <li><a href="#">گرافیک</a></li>
                        </ul>
                    </div>
                    <div class="dt-sn dt-sl rounded-0 border-bottom">
                        <div class="section-title text-sm-title title-wide no-after-title-wide mb-1">
                            <h2>برچسبها</h2>
                        </div>
                        <ul class="tag-list">
                            <li><a href="#">بهینه سازی</a></li>
                            <li><a href="#">برنامه نویسی</a></li>
                            <li><a href="#">طراحی سایت</a></li>
                            <li><a href="#">وردپرس</a></li>
                            <li><a href="#">پلاگین نویسی</a></li>
                            <li><a href="#">گرافیک</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- End main-content -->
{% endblock BlogContent %}
        