{% extends "app_store/base.html" %}
{% load static %}
{% load humanize %}


{% block pageTitle %}
        didikala | home
{% endblock pageTitle %}


{% block MainContent %}
    <main class="main-content dt-sl mb-3">
        <div class="container main-container">
            <!-- Start Main-Slider -->
            <div class="row mb-12">
                <div class="col-12 order-1 order-lg-2">
                    <!-- Start main-slider -->
                    <section id="main-slider" class="main-slider carousel slide carousel-fade card hidden-sm" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#main-slider" data-slide-to="0" class="active"></li>
                            <li data-target="#main-slider" data-slide-to="1"></li>
                            <li data-target="#main-slider" data-slide-to="2"></li>
                            <li data-target="#main-slider" data-slide-to="3"></li>
                        </ol>
                        <div class="carousel-inner">
                            {% for image in main_slider %}
                                <div class="carousel-item {% if forloop.first %} active {% endif %}">
                                    <a class="main-slider-slide" href="{% url 'not-found' %}" style="background-image: url({{ image.image.url }})"></a>
                                </div>
                            {% endfor %}
                        </div>
                        <a class="carousel-control-prev" href="#main-slider" role="button" data-slide="prev">
                            <i class="mdi mdi-chevron-right"></i>
                        </a>
                        <a class="carousel-control-next" href="#main-slider" data-slide="next">
                            <i class="mdi mdi-chevron-left"></i>
                        </a>
                    </section>
                    <!-- End main-slider -->
                </div>
            </div>
            <!-- End Main-Slider -->
            <!-- Start Product-Slider -->
            <div class="row" style='margin-top:5%;'>
                <div class="col-xl-10 col-lg-12">
                    <section class="slider-section dt-sl mb-5">
                        <div class="row mb-3">
                            <div class="col-12">
                                <div class="section-title text-sm-title title-wide no-after-title-wide">
                                    <h2>مجبوبترین ها</h2>
                                    <a href="{% url 'all_products' %}#most-rated">مشاهده همه</a>
                                </div>
                            </div>

                            <!-- Start Product-Slider -->
                            <div class="col-12 px-res-0">
                                <div class="product-carousel carousel-md owl-carousel owl-theme">
                                    {% for product in products|dictsortreversed:"rate"|slice:':8'  %}
                                        <div class="item">
                                            <div class="product-card">
                                                <div class="product-head">
                                                    <div class="rating-stars">
                                                        <i class="mdi mdi-star active"></i>
                                                        <i class="mdi mdi-star active"></i>
                                                        <i class="mdi mdi-star active"></i>
                                                        <i class="mdi mdi-star active"></i>
                                                        <i class="mdi mdi-star active"></i>
                                                    </div>
                                                    {% if product.off_percent > 0 %}
                                                        <div class="discount">
                                                            <span>{{ product.off_percent }}%</span>
                                                        </div>
                                                    {% endif %}
                                                </div>
                                                <a class="product-thumb" href="{% url 'product_detail' product.id %}">
                                                    {% for image in product.images|slice:":1" %}
                                                        <img src="{{ image.image.url }}" alt="Product Thumbnail">
                                                    {% endfor %}
                                                </a>
                                                <div class="product-card-body">
                                                    <h5 class="product-title">
                                                        <a href="{% url 'product_detail' product.id %}">{{ product.name_fa|slice:":50" }}...</a>
                                                    </h5>
                                                    <a class="product-meta" href="shop-categories.html">{{ product.category.first }}</a>
                                                    {% if product.off_percent > 0 %}
                                                        <span class="product-price">{{ product.get_final_price|floatformat:False|intcomma:False }} تومان</span>
                                                    {% else %}
                                                        <span class="product-price">{{ product.price|intcomma:False }} تومان</span>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <!-- End Product-Slider -->

                        </div>
                    </section>
                </div>
                <div class="col-xl-2 col-lg-3 hidden-lg pr-0">
                    <div class="widget-suggestion dt-sn border pt-3 mt-3">
                        <div class="widget-suggestion-title">
                            <img src="{% static 'app_store/img/theme/suggestion-title.png' %}" alt="">
                        </div>
                        <div id="progressBar">
                            <div class="slide-progress"></div>
                        </div>
                        <div id="suggestion-slider" class="owl-carousel owl-theme">
                            {% for product in products %}
                                {% if product.is_suggested is True %}
                                    <div class="item">
                                        <div class="product-card mb-3 shadow-unset">
                                            <div class="product-head">
                                                <div class="rating-stars">
                                                    <i class="mdi mdi-star active"></i>
                                                    <i class="mdi mdi-star active"></i>
                                                    <i class="mdi mdi-star active"></i>
                                                    <i class="mdi mdi-star active"></i>
                                                    <i class="mdi mdi-star active"></i>
                                                </div>
                                                <div class="discount">
                                                    <span>{{ product.off_percent }}%</span>
                                                </div>
                                            </div>
                                            <a class="product-thumb" href="{% url 'product_detail' product.id %}">
                                                {% for image in product.images|slice:":1" %}
                                                    <img src="{{ image.image.url }}" alt="Product Thumbnail">
                                                {% endfor %}
                                            </a>
                                            <div class="product-card-body">
                                                <h5 class="product-title">
                                                    <a href="shop-single.html"> {{ product.name_fa }}</a>
                                                </h5>
                                                <a class="product-meta" href="shop-categories.html">{{ product.category.first }}</a>
                                                {% if product.off_percent > 0 %}
                                                    <span class="product-price">{{ product.get_final_price|floatformat:False|intcomma:False }} تومان</span>
                                                {% else %}
                                                    <span class="product-price">{{ product.price|intcomma:False }} تومان</span>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Product-Slider -->
            <!-- Start Banner -->
            <div class='row' style='background-color:#f7858d; border-radius:10px;'>
                <div class="row mt-3 mb-5">
                    {% for image in medium_banner %}
                        <div class="col-sm-6 col-12 mb-2">
                            <div class="widget-banner">
                                <a href="#">
                                    <img src="{{ image.image.url }}" alt="">
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <!-- End Banner -->
                <!-- Start Banner -->
                <div class="row mt-3 mb-5">
                    {% for image in small_banner %}
                        <div class="col-md-3 col-sm-6 col-6 mb-2">
                            <div class="widget-banner">
                                <a href="#">
                                    <img src="{{ image.image.url }}" alt="">
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <!-- End Banner -->
            <!-- Start Category-Section -->
            <div class="row mt-3 mb-5">
                <div class="col-12">
                    <div class="category-section dt-sn dt-sl border" style='background-color:#ffdadd; border-radius:10px;'>
                        <div class="category-section-title dt-sl">
                            <h3>بیش از {{ product_counter }} کالا در دسته‌بندی‌های مختلف</h3>
                        </div>
                        <div class="category-section-slider dt-sl">
                            <div class="category-slider owl-carousel">
                                {% for cat in category %}
                                    {% if cat.parent == None %}
                                        <div class="item">
                                            <a href="{% url 'categories' cat.slug %}" class="promotion-category">
                                                <img src="{{ cat.image.url }}" alt="">
                                                <h4 class="promotion-category-name">{{ cat.name }}</h4>
                                                <h6 class="promotion-category-quantity">{{cat.category_counter}} کالا</h6>
                                            </a>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Category-Section -->
            <!-- Start Product-Slider -->
            <section class="slider-section dt-sl mb-5">
                <div class="row mb-3">
                    <div class="col-12">
                        <div class="section-title text-sm-title title-wide no-after-title-wide">
                            <h2>پربازدیدترین ها</h2>
                            <a href="{% url 'all_products' %}#most-viewed">مشاهده همه</a>
                        </div>
                    </div>
                    <!-- Start Product-Slider -->
                    <div class="col-12">
                        <div class="product-carousel carousel-lg owl-carousel owl-theme">
                            {% for product in products|dictsortreversed:"visit_count"|slice:':8' %}
                            <div class="item">
                                <div class="product-card">
                                    <div class="product-head">
                                        <div class="rating-stars">
                                            <i class="mdi mdi-star active"></i>
                                            <i class="mdi mdi-star active"></i>
                                            <i class="mdi mdi-star active"></i>
                                            <i class="mdi mdi-star active"></i>
                                            <i class="mdi mdi-star active"></i>
                                        </div>
                                        {% if product.off_percent > 0 %}
                                            <div class="discount">
                                                <span>{{ product.off_percent }}%</span>
                                            </div>
                                        {% endif %}
                                    </div>
                                    <a class="product-thumb" href="{% url 'product_detail' product.id %}">
                                        {% for image in product.images|slice:":1" %}
                                            <img src="{{ image.image.url }}" alt="Product Thumbnail">
                                        {% endfor %}

                                    </a>
                                    <div class="product-card-body">
                                        <h5 class="product-title">
                                            <a href="{% url 'product_detail' product.id %}">{{ product.name_fa|slice:":50" }}...</a>
                                        </h5>
                                        <a class="product-meta" href="shop-categories.html">{{ product.category.first }}</a>
                                        {% if product.off_percent > 0 %}
                                            <span class="product-price">{{ product.get_final_price|floatformat:False|intcomma:False }} تومان</span>
                                        {% else %}
                                            <span class="product-price">{{ product.price|intcomma:False }} تومان</span>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <!-- End Product-Slider -->

                </div>
            </section>
            <!-- End Product-Slider -->
            <!-- Start Brand-Slider -->
            <section class="slider-section dt-sl mb-5"  style='text-align:-webkit-center;'>
                <hr>
                <div class="row">
                    <!-- Start Product-Slider -->
                    <div class="col-12">
                        <div class="brand-slider carousel-lg owl-carousel owl-theme">
                            {% for brand in brand %}
                                <div class="item">
                                    <a href="{% url 'brands' brand.slug %}"><img src="{{ brand.image.url }}" class="img-fluid" alt=""></a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <!-- End Product-Slider -->
                    <hr>
                </div>
            </section>
            <!-- End Brand-Slider -->
            <!-- Start Feature-Product -->
            <section class="dt-sl dt-sn mb-5">
                <div class="row">
                    <div class="col-12">
                        <div class="section-title text-sm-title title-wide no-after-title-wide">
                            <h2>پیشنهاد ما</h2>
                            <a href="{% url 'all_products' %}#most-off">مشاهده همه</a>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    {% for product in products|dictsortreversed:'off_percent'|slice:':9' %}
                        <div class="col-lg-4 col-md-6 col-sm-12 col-12 pt-4">
                            <div class="row">
                                <div class="col-12">
                                    <div class="card-horizontal-product border-bottom rounded-0">
                                        <div class="card-horizontal-product-thumb">
                                            <a href="{% url 'product_detail' product.id %}">
                                                {% for image in product.images|slice:":1" %}
                                                    <img src="{{ image.image.url }}" alt="Product Thumbnail">
                                                {% endfor %}
                                            </a>
                                        </div>
                                        <div class="card-horizontal-product-content">
                                            <div class="card-horizontal-product-title">
                                                <a href="{% url 'product_detail' product.id %}">
                                                    <h3>{{ product.name_fa|slice:":30" }}...</h3>
                                                </a>
                                            </div>
                                            <div class="rating-stars">
                                                <i class="mdi mdi-star active"></i>
                                                <i class="mdi mdi-star active"></i>
                                                <i class="mdi mdi-star active"></i>
                                                <i class="mdi mdi-star active"></i>
                                                <i class="mdi mdi-star"></i>
                                            </div>
                                            <div class="discount">
                                                <span>{{ product.off_percent }}%</span>
                                            </div>
                                            <div class="card-horizontal-product-price">
                                                <span>{{ product.price|floatformat:False|intcomma:False }} تومان</span>
                                            </div>
                                            <div class="card-horizontal-product-buttons">
                                                <a href="{% url 'product_detail' product.id %}" class="btn btn-outline-info">جزئیات محصول</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </section>
            <!-- End Feature-Product -->
        </div>
    </main>
    <!-- End main-content -->




{% endblock MainContent %}